
<!-- **************** MAIN CONTENT START **************** -->
<main>
  <section class="p-0 d-flex align-items-center position-relative overflow-hidden">

    <div class="container-fluid">
      <div class="row">
        <!-- left -->
        <div class="col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100">
          <div class="p-3 p-lg-5">
            <!-- Title -->
            <div class="text-center">
              <h2 class="fw-bold">Bienvenue !</h2>
              <p class="mb-0 h6 fw-light">Let's learn something new today!</p>
            </div>
            <!-- SVG Image -->
            <img src="assets/images/element/02.svg" class="mt-5" alt="">
            <!-- Info -->
            <div class="d-sm-flex mt-5 align-items-center justify-content-center">
              <ul class="avatar-group mb-2 mb-sm-0">
                <li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar"></li>
                <li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="assets/images/avatar/02.jpg" alt="avatar"></li>
                <li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="assets/images/avatar/03.jpg" alt="avatar"></li>
                <li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="assets/images/avatar/04.jpg" alt="avatar"></li>
              </ul>
              <!-- Content -->
              <p class="mb-0 h6 fw-light ms-0 ms-sm-3">4k+ Students joined us, now it's your turn.</p>
            </div>
          </div>
        </div>

        <!-- Right -->
        <div class="col-12 col-lg-6 m-auto">
          <div class="row my-5">
            <div class="col-sm-10 col-xl-8 m-auto">
              <!-- Title -->
              <img src="assets/images/element/03.svg" class="h-40px mb-2" alt="">
              <h2>Inscrivez-vous!</h2>
              <p class="lead mb-4">Rejoignez ArsLight en tant que</p>
              <!-- Form START -->


              <div class="mt-4 text-center">
                <a routerLink="/auth-enseignant" class="btn btn-outline-primary mx-1">Enseignant</a>

                <a routerLink="/auth-parent" class="btn btn-outline-primary mx-1 active">Parent</a>
                <a routerLink="/auth-orthophoniste" class="btn btn-outline-primary mx-1">Orthophoniste</a>

              </div>

              <br>

              <form class="row g-3 position-relative">
                <!-- First name -->
                <div class="col-md-6 ">
                  <label class="form-label ">Prenom <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="firstName" placeholder="Prénom">
                </div>

                <!-- Last name -->
                <div class="col-md-6 ">
                  <label class="form-label">Nom <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="lastName" placeholder="Nom">
                </div>

                <!-- Email -->
                <div class="col-md-6 ">
                  <label class="form-label ">Email <span class="text-danger">*</span></label>
                  <input type="email" class="form-control" id="email" placeholder="Email">
                </div>

                <!-- Phone number -->
                <div class="col-md-6 ">
                  <label class="form-label ">Numéro Telephone<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="phoneNumber" placeholder="Numéro ">
                </div>

                <!-- enfant name -->
                <div class="col-md-6 ">
                  <label class="form-label">Nom de l'enfant <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="EnfantName" placeholder="Nom de votre enfant">
                </div>

                <!-- age enfant -->
                <div class="col-md-6 ">
                  <label class="form-label">Age de l'enfant <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="ageEnfant" placeholder="Age de votre Enfant">
                </div>

                <!-- niveau -->
                <div class="col-md-6 ">
                  <label class="form-label">Niveau scolaire de l'enfant <span class="text-danger">*</span></label>

                  <select class="form-control" id="exampleInputNiveauEnfant">
                    <option selected disabled>Choisissez le niveau scolaire de l'enfant</option>
                    <option value="1">1ère année primaire</option>
                    <option value="2">2ème année primaire</option>
                    <option value="3">3ème année primaire</option>
                    <!-- Ajoutez les autres options selon vos besoins -->
                  </select>
                </div>


                <!-- ortho  -->
                <div class="col-md-6 ">
                  <label class="form-label">Nom de l'orthophoniste<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="nomOrtho" placeholder="Nom de l'orthophoniste">
                </div>

                <!-- mdp -->
                <div class="col-md-6 ">
                  <label class="form-label">Mot de pass <span class="text-danger">*</span></label>

                  <input type="password" class="form-control" placeholder="*********" id="inputPassword5">
                </div>

                <!-- confirmer mdp -->
                <div class="col-md-6 ">
                  <label for="inputPassword6" class="form-label">Confirmer le mot de passe *</label>

                  <input type="password" class="form-control" placeholder="*********" id="inputPassword6">
                </div>



                <!-- Bouton -->
                <div class="align-items-center mt-4">
                  <div class="d-grid">
                    <button class="btn btn-primary mb-0" type="button">S'inscrire</button>
                  </div>
                </div>
              </form>




















              <!-- Sign up link -->
              <div class="mt-4 text-center">
                <span>Vous avez deja un compte?<a href="sign-in.html"> Cliquez ici</a></span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>
