
<!-- **************** MAIN CONTENT START **************** -->
<main>
  <section class="p-0 d-flex align-items-center position-relative overflow-hidden">

    <div class="container-fluid">
      <div class="row">
        <!-- left -->
        <div class="col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100">
          <div class="p-3 p-lg-5">
            <div class="navbar-nav d-none d-lg-inline-block">
              <a routerLink=""><button class="btn btn-secondary mb-0"><i class="bi bi-house"></i></button></a>
            </div>
            <!-- Title -->
            <div class="text-center">
              <h2 class="fw-bold">Bienvenue !</h2>
              <p class="mb-0 h6 fw-light">Let's learn something new today!</p>
            </div>
            <!-- SVG Image -->
            <img src="assets/images/element/02.svg" class="mt-5" alt="">
            <!-- Info -->
            <div class="d-sm-flex mt-5 align-items-center justify-content-center">
              <ul class="avatar-group mb-2 mb-sm-0">
                <li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar"></li>
                <li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="assets/images/avatar/02.jpg" alt="avatar"></li>
                <li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="assets/images/avatar/03.jpg" alt="avatar"></li>
                <li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="assets/images/avatar/04.jpg" alt="avatar"></li>
              </ul>
              <!-- Content -->
              <p class="mb-0 h6 fw-light ms-0 ms-sm-3">4k+ Students joined us, now it's your turn.</p>
            </div>
          </div>
        </div>

        <!-- Right -->
        <div class="col-12 col-lg-6 m-auto">
          <div class="row my-5">
            <div class="col-sm-10 col-xl-8 m-auto">
              <!-- Title -->
              <img src="assets/images/element/03.svg" class="h-40px mb-2" alt="">
              <h2>Inscrivez-vous!</h2>
              <p class="lead mb-4">Rejoignez ArsLight en tant que</p>
              <!-- Form START -->


              <div [formGroup]="addUserForm">
                <label class="form-label">Role <span class="text-danger">*</span></label>
                <div class="mt-2" formGroupName="role">
                  <button class="btn btn-outline-primary mx-1" type="button" (click)="toggleActive('Enseignant')" [class.active]="activeButton === 'Enseignant'">Enseignant</button>
                  <button class="btn btn-outline-primary mx-1" type="button" (click)="toggleActive('Parent')" [class.active]="activeButton === 'Parent'">Parent</button>
                  <button class="btn btn-outline-primary mx-1" type="button" (click)="toggleActive('Orthophoniste')" [class.active]="activeButton === 'Orthophoniste'">Orthophoniste</button>
                </div>
                <!-- Hidden input to store the selected role -->
                <input type="hidden" formControlName="value" [value]="activeButton">
              </div>

              <br>

              <form
                [formGroup]="addUserForm"
                (submit)="onSubmit()"
                class="row g-3 position-relative"
              >

                <!-- Username -->
                <div class="col-md-6 ">
                  <label class="form-label">Username <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username" >
                </div>

                <!-- Email -->
                <div class="col-md-6 ">
                  <label class="form-label ">Email <span class="text-danger">*</span></label>
                  <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                </div>


                <!-- First name -->
                <div class="col-md-6 ">
                  <label class="form-label ">Prénom <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="firstName" placeholder="Prénom" formControlName="first_name">
                </div>


                <!-- Last name -->
                <div class="col-md-6 ">
                  <label class="form-label">Nom <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="lastName" placeholder="Nom" formControlName="last_name" >
                </div>


                <!-- child name -->
                <div class="col-md-6 ">
                  <div *ngIf="activeButton === 'Parent'">
                  <label class="form-label">Prénom de l'enfant <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="EnfantFirstName" placeholder="Prénom de votre enfant" formControlName="cfn">
                  </div>
                </div>

                <!-- child lastname -->
                <div class="col-md-6 ">
                  <div *ngIf="activeButton === 'Parent'">
                  <label class="form-label">Nom de l'enfant <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="EnfantLastName" placeholder="Nom de votre enfant" formControlName="cln">
                  </div>
                </div>

                <!-- Phone number -->
                <div class="col-md-6 ">
                  <label class="form-label ">Numéro Telephone</label>
                  <input type="text" class="form-control" id="phoneNumber" placeholder="Numéro" formControlName="tel">
                </div>

                <!-- niveau -->
                <div class="col-md-6 ">

                  <label class="form-label">sexe <span class="text-danger">*</span></label>

                  <select class="form-control" id="InputSexeEnfant" formControlName="gender">
                    <option selected disabled>Choisissez le sexe de l'enfant</option>
                    <option value="M">M</option>
                    <option value="F">F</option>
                  </select>
                </div>

                <!-- niveau -->
                <div class="col-md-6 ">
                  <div *ngIf="activeButton === 'Parent'">
                  <label class="form-label">Niveau scolaire de l'enfant <span class="text-danger">*</span></label>

                  <select class="form-control" id="InputNiveauEnfant" formControlName="lvl">
                    <option selected disabled>Choisissez le niveau scolaire de l'enfant</option>
                    <option value="1">1ère année primaire</option>
                    <option value="2">2ème année primaire</option>
                    <option value="3">3ème année primaire</option>
                  </select>
                  </div>
                </div>


                <!-- ortho  -->
                <div class="col-md-6 ">
                  <div *ngIf="activeButton === 'Parent'">
                  <label class="form-label">Nom de l'orthophoniste<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="nomOrtho" placeholder="Nom de l'orthophoniste">
                </div>
                </div>
                <!-- mdp -->
                <div class="col-md-6 ">
                  <label class="form-label">Mot de passe <span class="text-danger">*</span></label>

                  <input type="password" class="form-control" placeholder="*********" id="inputPassword5" formControlName="password">
                </div>

                <!-- confirmer mdp -->
                <div class="col-md-6">
                  <label class="form-label">Confirmer le mot de passe <span class="text-danger">*</span></label>
                  <input type="password" class="form-control" placeholder="*********" formControlName="confirmPassword">
                  <div *ngIf="addUserForm.hasError('passwordMismatch') && (addUserForm.dirty || addUserForm.touched)">
                    <span class="text-danger">Les mots de passe ne correspondent pas</span>
                  </div>
                </div>



                <!-- Bouton -->
                <div class="align-items-center mt-4">
                  <div class="d-grid">
                    <button class="btn btn-primary mb-0" type="submit">S'inscrire</button>
                  </div>
                </div>
              </form>




















              <!-- Sign up link -->
              <div class="mt-4 text-center">
                <span>Vous avez deja un compte?<a routerLink="/login"> Cliquez ici</a></span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>
