<body>

<!-- Header START -->
<header class="navbar-light navbar-sticky">
  <!-- Logo Nav START -->
  <nav class="navbar navbar-expand-xl">
    <div class="container">
      <!-- Logo START -->
      <a class="navbar-brand" href="index.html">
        <img class="light-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo">
        <img class="dark-mode-item navbar-brand-item" src="assets/images/logo-light.svg" alt="logo">
      </a>
      <!-- Logo END -->

      <!-- Responsive navbar toggler -->
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-animation">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
      </button>

      <!-- Main navbar START -->
      <div class="navbar-collapse w-100 collapse" id="navbarCollapse">

        <!-- Nav Main menu START -->
        <ul class="navbar-nav navbar-nav-scroll mx-auto">
          <!-- Nav item 1 Demos -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Demos</a>

          </li>

          <!-- Nav item 2 Pages -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>

          </li>

          <!-- Nav item 3 Account -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="accounntMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accounts</a>

          </li>

          <!-- Nav item 4 Component-->
          <li class="nav-item"><a class="nav-link" href="docs/alerts.html">Components</a></li>

          <!-- Nav item 5 link-->
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="advanceMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-h"></i>
            </a>

          </li>
        </ul>
        <!-- Nav Main menu END -->

        <!-- Nav Search START -->
        <div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
          <div class="nav-item w-100">
            <form class="position-relative">
              <input class="form-control pe-5 bg-transparent" type="search" placeholder="Search" aria-label="Search">
              <button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
            </form>
          </div>
        </div>
        <!-- Nav Search END -->
      </div>
      <!-- Main navbar END -->

      <!-- Profile START -->
      <div class="dropdown ms-1 ms-lg-0">
        <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
          <img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar">
        </a>
        <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
          <!-- Profile info -->
          <li class="px-3">
            <div class="d-flex align-items-center">
              <!-- Avatar -->
              <div class="avatar me-3">
                <img class="avatar-img rounded-circle shadow" src="assets/images/avatar/01.jpg" alt="avatar">
              </div>
              <div>
                <a class="h6" href="#">Lori Ferguson</a>
                <p class="small m-0">examail.com</p>
              </div>
            </div>
            <hr>
          </li>
          <!-- Links -->
          <li><a class="dropdown-item" href="#"><i class="bi bi-person fa-fw me-2"></i>Edit Profile</a></li>
          <li><a class="dropdown-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Account Settings</a></li>

          <li> <hr class="dropdown-divider"></li>
          <!-- Dark mode switch START -->
          <li><a class="dropdown-item bg-danger-soft-hover" href="#"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
          <!-- Dark mode switch END -->
        </ul>
      </div>
      <!-- Profile START -->
    </div>
  </nav>
  <!-- Logo Nav END -->
</header>
<!-- Header END -->


<!-- **************** MAIN CONTENT START **************** -->
<main>

  <!-- =======================
  Main Banner START -->
  <section class="pt-0">
    <!-- Main banner background image -->
    <div class="container-fluid px-0">
      <div class="bg-blue h-100px h-md-200px rounded-0" style="background:url(assets/images/pattern/04.png) no-repeat center center; background-size:cover;">
      </div>
    </div>
    <div class="container mt-n4">
      <div class="row">
        <!-- Profile banner START -->
        <div class="col-12">
          <div class="card bg-transparent card-body p-0">
            <div class="row d-flex justify-content-between">
              <!-- Avatar -->
              <div class="col-auto mt-4 mt-md-0">
                <div class="avatar avatar-xxl mt-n3">
                  <img class="avatar-img rounded-circle border border-white border-3 shadow" src="assets/images/avatar/teacher.jpg" alt="">
                </div>
              </div>
              <!-- Profile info -->
              <div class="col d-md-flex justify-content-between align-items-center mt-4">
                <div>
                  <h1 class="my-1 fs-4">skandoura <i class="bi bi-patch-check-fill text-info small"></i></h1>
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0"><i class="fas fa-star text-warning me-2"></i>4.5/5.0</li>
                    <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0"><i class="fas fa-user-graduate text-orange me-2"></i>12k Enrolled Students</li>
                    <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0"><i class="fas fa-book text-purple me-2"></i>25 Courses</li>
                  </ul>
                </div>
                <!-- Button -->
                <div class="d-flex align-items-center mt-2 mt-md-0">
                  <a href="instructor-create-course.html" class="btn btn-success mb-0" routerLink="/add-course">Create a course</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Profile banner END -->

          <!-- Advanced filter responsive toggler START -->
          <!-- Divider -->
          <hr class="d-xl-none">
          <div class="col-12 col-xl-3 d-flex justify-content-between align-items-center">
            <a class="h6 mb-0 fw-bold d-xl-none" href="#">Menu</a>
            <button class="btn btn-primary d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
              <i class="fas fa-sliders-h"></i>
            </button>
          </div>
          <!-- Advanced filter responsive toggler END -->
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
  Main Banner END -->

  <!-- =======================
  Inner part START -->
  <section class="pt-0">
    <div class="container">
      <div class="row">
        <!-- Right sidebar START -->
        <div class="col-xl-3">
          <!-- Responsive offcanvas body START -->
          <nav class="navbar navbar-light navbar-expand-xl mx-0">
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <!-- Offcanvas header -->
              <div class="offcanvas-header bg-light">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">My profile</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <!-- Offcanvas body -->
              <div class="offcanvas-body p-3 p-xl-0">
                <div class="bg-dark border rounded-3 pb-0 p-3 w-100">
                  <!-- Dashboard menu -->
                  <div class="list-group list-group-dark list-group-borderless">
                    <a class="list-group-item" routerLink="/gestion-enseignant"><i class="bi bi-ui-checks-grid fa-fw me-2"></i>Dashboard</a>
                    <a class="list-group-item" routerLink="/courses" ><i class="bi bi-basket fa-fw me-2"></i>My Courses</a>
                    <a class="list-group-item" routerLink="/list-students"><i class="bi bi-people fa-fw me-2"></i>Students</a>
                    <a class="list-group-item" routerLink="/reviews"><i class="bi bi-star fa-fw me-2"></i>Reviews</a>
                    <a class="list-group-item" href="instructor-edit-profile.html"><i class="bi bi-pencil-square fa-fw me-2"></i>Edit Profile</a>
                    <a class="list-group-item" href="instructor-setting.html"><i class="bi bi-gear fa-fw me-2"></i>Settings</a>
                    <a class="list-group-item" href="instructor-delete-account.html"><i class="bi bi-trash fa-fw me-2"></i>Delete Profile</a>
                    <a class="list-group-item text-danger bg-danger-soft-hover" href="sign-in.html"><i class="fas fa-sign-out-alt fa-fw me-2"></i>Sign Out</a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <!-- Responsive offcanvas body END -->
        </div>
        <!-- Right sidebar END -->

        <!-- Main content START -->
        <div class="col-xl-9">
          <!-- Card START -->
          <div class="card border rounded-3">
            <!-- Card header START -->
            <div class="card-header border-bottom">
              <h3 class="mb-0">My Courses List</h3>
            </div>
            <!-- Card header END -->

            <!-- Card body START -->
            <div class="card-body">

              <!-- Search and select START -->
              <div class="row g-3 align-items-center justify-content-between mb-4">
                <!-- Search -->
                <div class="col-md-8">
                  <form class="rounded position-relative">
                    <input class="form-control pe-5 bg-transparent" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
                  </form>
                </div>

                <!-- Select option -->
                <div class="col-md-3">
                  <!-- Short by filter -->
                  <form>
                    <select class="form-select js-choice border-0 z-index-9 bg-transparent" aria-label=".form-select-sm">
                      <option value="">Sort by</option>
                      <option>Free</option>
                      <option>Newest</option>
                      <option>Most popular</option>
                      <option>Most Viewed</option>
                    </select>
                  </form>
                </div>
              </div>
              <!-- Search and select END -->

              <!-- Course list table START -->
              <!-- Course list table START -->
              <div class="table-responsive-lg border-0">
                <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                  <!-- Table head -->
                  <thead>
                  <tr>
                    <th scope="col" class="border-0 rounded-start">Course Title</th>
                    <th scope="col" class="border-0">Level</th>
                    <th scope="col" class="border-0">Created At</th>
                    <th scope="col" class="border-0">Action</th>

                  </tr>
                  </thead>

                  <!-- Table body START -->
                  <tbody>
                  <tr *ngFor="let course of courses">
                    <td>{{ course.title }}</td>
                    <td>{{ course.level }}</td>
                    <td>{{ course.created_at | slice:0:10}}</td>
                  </tr>
                  </tbody>
                  <!-- Table body END -->
                </table>
              </div>



            </div>
            <!-- Card body START -->
          </div>
          <!-- Card END -->
        </div>
        <!-- Main content END -->
      </div><!-- Row END -->
    </div>
  </section>
  <!-- =======================
  Inner part END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="bg-dark p-3">
  <div class="container">
    <div class="row align-items-center">
      <!-- Widget -->
      <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
        <!-- Logo START -->
        <a href="index.html"> <img class="h-20px" src="assets/images/logo-light.svg" alt="logo"> </a>
      </div>

      <!-- Widget -->
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="text-center text-white">
          Copyrights ©2021 <a href="#" class="text-reset btn-link">Eduport</a>. All rights reserved.
        </div>
      </div>
      <!-- Widget -->
      <div class="col-md-4">
        <!-- Rating -->
        <ul class="list-inline mb-0 text-center text-md-end">
          <li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-facebook"></i></a></li>
          <li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-instagram"></i></a></li>
          <li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-linkedin-in"></i></a></li>
          <li class="list-inline-item ms-2"><a href="#"><i class="text-white fab fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/choices/js/choices.min.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
